<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css"
              asp-fallback-href="~/libs/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
</head>
<body>
    <partial name="_Nav" />
    <partial name="_CookieConsentPartial" />
    <partial name="_Sidebar" />
    <div id="body-content" class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Today.Year - @MainResource.AppName</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/libs/jquery/jquery.min.js"></script>
        <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/ajax.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/libs/jquery/jquery.min.js"></script>
        <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/min/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
